
<div class="container">
		<div class="row">
				<div class="col-md-7 col-xs-12">
          <h1>About us</h1>
          <p>
            <br>
            Our customers have been coming to us for generations because they trust
            us and know they can get quality produce at the best value time and
            time again. We are proud to have formed relationships and personally
            know a lot of our customers.
          </p>
          <p>
            From our base in Sheffield, we supply a range of businesses, from bakers, cafes, restaurants, sandwich
            shops to individuals wishing to purchase some specialised quality wholesale ingredients
            at great value prices.
          </p>
          <p>
            Our experienced team can deliver your order to your door. Please
            <a href="/contact">contact us</a> to find out more about what we can offer you.
            <br>
            <br>
          </p>

          <h2>Our history</h2>
          <p>
            <br>
            We've been around since 1873 and have built our business on service, reliability,
            quality, trust and great value.
            <br>
            <br>
          </p>

          <h2>Our products</h2>
          <p>
            <br>
            We stock many products including a large range of bakery, confectionary and cake decorating
            supplies; please see our <a href="/products">products page</a> to view a selection of our
            produce.
          </p>
          <p>
            We've built such a good relationship with our suppliers that we are able to obtain products at great rates,
            which we can pass on to you. If there is anything you are looking for which you can't find on our web site,
            please <a href="/contact">contact us</a> and we will endeavor to get hold of it for you or find an alternative ingredient/product.
          </p>

				</div>
		</div>
</div>
