<div class="container">
	<h1>Contact Us</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<p>
				<br>
			  Phone: 0114 2551397
				<br>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<p>
				<br>
			  Fax: 01949 81409
				<br>
			</p>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<p>
				<br>
			  Email: enquiries@shukin.co.uk
				<br>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<p>
				<br>
			  You can find us here:<br />
			  25 Thirlwell Road, Sheffield, South Yorkshire, S8 9TE, UK
				<br>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6">
			<p>
			  <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=208538710394604596752.00049dc86c84c626bafbd&amp;ll=53.362641,-1.472168&amp;spn=0.071707,0.188828&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=208538710394604596752.00049dc86c84c626bafbd&amp;ll=53.362641,-1.472168&amp;spn=0.071707,0.188828&amp;z=12&amp;source=embed" style="text-align:left">S Hukin ltd</a> in a larger map</small>
			</p>
		</div>
	</div>
</div>
