{{!< default}}
<!-- START page title section -->
<div class="page-title">
		<div class="container">
				<div class="row">
						<div class="col-md-7 col-xs-12">
								<h1>Supplying local businesses with quality wholesale foodproduce since <span class="theme-color">1873.</span></h1>
								<img src="images/branding-border.png" alt="" class="heading-border">
								<p>We deliver direct to your door 7 days a week. Call us on 0114 2361820.</p>
						</div>
				</div>
		</div>
</div>
<!--/ END page title section -->
