{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h3>Supplying local businesses with quality wholesale foodproduce since 1873.</h3>
		<img src="/images/shukin.jpg">
		<h3>We deliver direct to your door 7 days a week.</h3>
		<br>
		<h4>Contact Details</h5>
		<p>
		  Phone: +44 (0)114 2551397
		</p>
		<p>
		  Fax: +44 (0) 1949 81409
		</p>
		<p>
		  Email: enquiries@shukin.co.uk
		</p>
		<p>
		  You can find us here:<br />
		  25 Thirlwell Rd, Sheffield, South Yorkshire, S8 9TE, UK
		</p>
	</div>
</div>
